<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="gemConnectionString" connectionString="Data Source=MAIO\SQLEXPRESS;Database=GEMPRDv2;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="months_to_look_back" value="1024"/>
    <add key="log_location" value="C:\\GEM-logs\\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>